<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-y/vue/3.2.31/vue.global.prod.min.js"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-y/element-plus/2.0.4/index.full.min.js"></script>
    <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-y/element-plus/2.0.4/index.min.css" />
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-y/echarts/5.3.0/echarts.min.js"></script>
    <title>贷款计算器</title>
    <style>
      .charts_box {
        width: 100vw;
        height: 500px;
      }
      .jend {
        padding: 8px 0;
      }
      .jac {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .foot_page {
        margin-top: 10px;
      }
      .month_title {
        font-size: 18px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <template id="MonthTableList">
      <div>
        <div class="jac month_title">第 {{ currentPage }} 年还款情况</div>
        <el-table :data="currentList" height="500" border stripe>
          <el-table-column prop="index" width="55" label="期数"></el-table-column>
          <el-table-column type="index" width="60" label="月份"></el-table-column>
          <el-table-column prop="bx" label="月还款"></el-table-column>
          <el-table-column prop="ljBx" label="累计还款"></el-table-column>
          <el-table-column prop="lx" label="月利息"></el-table-column>
          <el-table-column prop="ljLx" label="累计利息"></el-table-column>
          <el-table-column prop="bj" label="月本金"></el-table-column>
          <el-table-column prop="ljBj" label="累计本金"></el-table-column>
          <el-table-column prop="syBj" label="剩余本金"></el-table-column>
        </el-table>
        <div class="jac foot_page">
          <el-pagination
            background
            :total="list.length"
            layout="prev, pager, next"
            v-model:current-page="currentPage"
            v-model:page-size="pageSize"
          />
        </div>
      </div>
    </template>

    <div id="app">
      <el-form inline label-width="50px">
        <el-form-item label="金额">
          <el-input-number v-model="formData.total" :step="1" :min="1" @change="onSubmit"></el-input-number>
        </el-form-item>
        <el-form-item label="利率">
          <el-input-number
            v-model="formData.rate"
            :precision="2"
            :step="0.1"
            :max="10"
            @change="onSubmit"
          ></el-input-number>
        </el-form-item>
        <el-form-item label="年限">
          <el-select v-model="formData.year" placeholder="请选择贷款年限" @change="onSubmit">
            <el-option v-for="item in yearList" :key="item.value" :label="item.label" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
      </el-form>

      <el-tabs type="border-card">
        <el-tab-pane v-for="(item, key) in rTypeList" :key="key" :label="item.label">
          <el-descriptions direction="vertical" border>
            <el-descriptions-item label="还款总额">{{ item.hkze }}</el-descriptions-item>
            <el-descriptions-item label="利息总额">{{ item.lxze }}</el-descriptions-item>
            <el-descriptions-item label="每月递减">{{ item.mydj }}</el-descriptions-item>
          </el-descriptions>
          <el-divider></el-divider>
          <el-tabs type="card" v-model="item.activeName">
            <el-tab-pane label="月视图" name="m">
              <month-table-list :list="item.monthTableData"></month-table-list>
            </el-tab-pane>
            <el-tab-pane label="年视图" name="y">
              <el-table :id="`${key}-y`" :data="item.yearTableData" height="500" border stripe>
                <el-table-column type="index" width="50" label="年"></el-table-column>
                <el-table-column prop="bx" label="年还款"></el-table-column>
                <el-table-column prop="ljBx" label="累计还款"></el-table-column>
                <el-table-column prop="lx" label="年利息"></el-table-column>
                <el-table-column prop="ljLx" label="累计利息"></el-table-column>
                <el-table-column prop="bj" label="年本金"></el-table-column>
                <el-table-column prop="ljBj" label="累计本金"></el-table-column>
                <el-table-column prop="syBj" label="剩余本金"></el-table-column>
              </el-table>
            </el-tab-pane>
            <el-tab-pane label="本息对比" name="c">
              <div :id="key" class="charts_box"></div>
            </el-tab-pane>
          </el-tabs>
        </el-tab-pane>
        <el-tab-pane label="年还款对比" name="d">
          <div id="echartsRepaymentContainerMn" class="charts_box"></div>
          <div id="echartsRepaymentContainerLj" class="charts_box"></div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <script src="./utils.js"></script>
    <script src="./charts.js"></script>
    <script src="./dk-main.js"></script>
  </body>
</html>
